/* Overall settings */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background:#feffff;
}
/* Section */
.intro{
  margin: 60px 15px 0px 15px;
  border: 1px solid #d4c4c4;
  /* background-color: black; */
  padding: 30px;
  text-align: center;
}
/* End Intro Section */

.post_list{
  margin-top: 60px;
}

.btn-light{
  background-color: #fdffff;
  border-color: #f8f9fa;
  font-size: 10px;
}

.card{
  margin-bottom: 1em;
}

#section-headline{
  margin-bottom: 1em;
}

#content-selection{
  margin-bottom: 3em;
}
